@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --white: #ffffff;
    --grey: #323941;
    --blue: #009eff;
    --blue-hover: #008ce3;
    --blue-active: #0281d0;
    --light-grey: #99999914;
}

@media (prefers-color-scheme: dark) {
    :root {
        --white: #ffffff;
        --grey: #323941;
        --blue: #009eff;
        --blue-hover: #008ce3;
        --blue-active: #0281d0;
        --light-grey: #99999914;
    }
}

body {
    color: var(--grey);
    background: var(--white);
    font-family: var(--font-poppins);
}

link {
    line-height: 1;
}
