@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #ffffff;
  --grey: #323941;
  --blue: #009eff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --white: #ffffff;
    --grey: #323941;
    --blue: #009eff;
  }
}

body {
  color: var(--grey);
  background: var(--white);
  font-family: var(--font-poppins);
}

link {
  line-height: 1;
}
